/* Body */
body { margin: 0px; padding: 0px; background-color: #ffffff; font-weight: 300; } 
body { color: #526475; font-family: OpenSans; font-size: 18px; } 

/* Text headers */
.h1 { font-size: 80px; font-weight: bold; color: #526475; text-decoration: none; } 
.h2 { font-size: 25px; color: #526475; text-decoration: none;  } 
.h3 { font-size: 18px; color: #526475; text-decoration: none; } 

/* Head */
.head { display: block; padding-top: 120px; padding-bottom: 120px; } 

/* Download btn */
.download { display: inline-block; width: 150px; height: 40px; text-decoration: none; } 
.download { text-align: center; color: #526475; font-size: 18px; line-height: 36px; } 
.download { border-radius: 5px; border: 2px solid #526475; margin-top: 15px; } 
.download { font-weight: bold; } 
.download:hover { color: #ffffff; background-color: #526475; } 

/* Main */
.main { display: block; width: 900px; margin-left: auto; margin-right: auto; } 
.main { padding-top: 20px; padding-bottom: 20px; } 

/* Color boxes */
.box { display: inline-block; width: 140px; background-color: #FFFFFF; } 
.box { box-shadow: 0 2px 4px #cacaca; border-radius: 5px; margin: 10px; } 
.box { padding-bottom: 3px; text-align: center; } 

.box-color-left, .box-color-right { display: inline-block; width: 70px; height: 50px; margin-bottom: 3px; } 
.box-color-left { border-top-left-radius: 5px; } 
.box-color-right { border-top-right-radius: 5px; } 

/* Copied color */
.copy { display: none; position: fixed; top: 0px; left: 0px; z-index: 999999; } 
.copy { width: 100%; padding-top: 20px; padding-bottom: 20px; color: #ffffff; } 
.copy { font-size: 18px; font-weight: bold; text-align: center; } 

/* Foot */
.foot { display: block; padding-top: 50px; padding-bottom: 30px; } 
